html {
  scroll-behavior: smooth;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.5s ease, transform 0.8s ease;
  cursor: pointer;
}

header h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

header a {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

#modal-content {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  display: none;
}

#modal-container {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 30%;
  right: 30%;
  transform: translate(-50%);
  background-color: white;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#modal-header {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 15px;
  padding: 10px;
  line-height: 25px;
}

#modal-header i {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#modal-main img {
  width: 150px;
  height: 150px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  margin-top: 30px;
}

#modal-footer {
  width: 100%;
  height: 100px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px;
  margin-top: 20px;
  line-height: 25px;
  text-align: center;
}

section {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1 {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1 .fade-wrap {
  opacity: 0;
  transition: 2s;
  position: relative;
  left: -50px;
}

.section1 .fade-wrap.fade-in {
  opacity: 1;
  transition: 2s;
  left: 0px;
}

#home {
  padding-bottom: 30px;
}

#home h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 120px;
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes cursor {
  0% {
    border-right: 3px solid #fff;
  }
  50% {
    border-right: 3px solid #000;
  }
  100% {
    border-right: 3px solid #fff;
  }
}

#home h2 {
  font-size: 3rem;
  margin-bottom: 80px;
}

#home span {
  font-size: 2rem;
  border-radius: 20px;
  cursor: pointer;
}

#moving-text {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

#texts {
  position: relative;
  width: 2000px;
  animation: moving 60s linear infinite;
  overflow: hidden;
  height: 100px;
}

@keyframes moving {
  from {
    transform: translateX(+95%);
  }
  to {
    transform: translateX(-50%);
  }
}

#sideBar {
  position: fixed;
  width: 100px;
  height: 500px;
  background-color: white;
  bottom: 50%;
  transform: translateY(+50%);
  right: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  cursor: pointer;
  display: none;
}

#sideBar a {
  height: 100px;
  border-bottom: 2px solid black;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sideBar #skillA {
  border-bottom: none;
}

#profile h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

#profile-container {
  width: 1200px;
  height: 300px;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profileItem {
  width: 33.3%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profileItem h2 {
  font-size: 2rem;
  font-weight: bold;
}

.profileItem h2 i {
  padding-right: 10px;
}

.profileItem h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

#introduce-container {
  margin: 10px;
}

#introduce h1 {
  font-size: 4rem;
  font-weight: bold;
}

#merit {
  display: flex;
}

#attitude {
  display: flex;
}

#motive {
  display: flex;
}

#introduce h1 {
  text-align: center;
  margin-bottom: 100px;
}

.Intro1 {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro2 {
  width: 1300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 30px;
}

#skill h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.skills {
  display: flex;
}

.skill1 {
  width: 200px;
  height: 80px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.skill2 {
  width: 800px;
  height: 80px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

body {
  background: linear-gradient(120deg, #ffecd2 0%, #fcb69f 100%);
}
