header {
  background-color: lavender;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

header a {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

section {
  background-color: lavender;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home {
  padding-bottom: 30px;
}

#home h1 {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 120px;
}

#home h2 {
  font-size: 4rem;
  margin-bottom: 80px;
}

#home a {
  font-size: 3rem;
  margin-bottom: 120px;
  border-radius: 20px;
  cursor: pointer;
}

#sideBar {
  position: fixed;
  width: 100px;
  height: 500px;
  background-color: yellow;
  bottom: 50%;
  transform: translateY(+50%);
  right: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  cursor: pointer;
}

#sideBar a {
  height: 100px;
  border-bottom: 2px solid black;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sideBar #skillA {
  border-bottom: none;
}

#profile h1 {
  font-size: 4rem;
  font-weight: bold;
}

#profile-container {
  width: 1200px;
  height: 300px;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profileItem {
  width: 33.3%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profileItem h2 {
  font-size: 2rem;
  font-weight: bold;
}

.profileItem h2 i {
  padding-right: 10px;
}

.profileItem h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

#introduce-container {
  margin: 10px;
}

#introduce h1 {
  font-size: 4rem;
  font-weight: bold;
}

#merit {
  display: flex;
}

#attitude {
  display: flex;
}

#motive {
  display: flex;
}

.Intro1 {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro2 {
  width: 1300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 30px;
}

#skill h1 {
  font-size: 4rem;
  font-weight: bold;
}

.skills {
  display: flex;
}

.skill1 {
  width: 200px;
  height: 80px;
  background-color: aquamarine;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.skill2 {
  width: 800px;
  height: 80px;
  background-color: aqua;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}
