header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  transition: background-color 0.5s ease, transform 0.8s ease;
  z-index: 2;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 30px;
  color: white;
  z-index: 2;
  display: flex;
  align-content: center;
  padding-top: 25px;
}

header img {
  margin-top: 15px;
  padding-left: 20px;
  width: 80px;
  height: 50px;
}

header nav {
  height: 100%;
  display: flex;
}

nav button {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#section1 {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../resources/제주1.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
}

#section1 h1 {
  margin-bottom: 50px;
}

#section1 div {
  display: flex;
  border-radius: white 2px solid;
  padding-top: 20px;
}

#section2 {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../resources/캘린더3.jpg);
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

#section2 h1 {
  padding: 20px;
  padding-bottom: 50px;
}
#section3 {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../resources/호수1.jpg);
  background-blend-mode: color;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

#section4 {
  background-color: violet;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../resources/서울2.jpg);
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

#carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-container {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.section {
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.button2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 5;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.nav-link .red {
  color: darkred;
}
.nav-link .white {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
}

#section5 h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
}

#section5 p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: gray;
  padding: 15px;
}
#section5 img {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  padding-left: 400px;
  padding-top: 15px;
}

#section6 {
  height: 100vh;
  display: flex;
}

#textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#textBox h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 15px;
}

#textBox p {
  font-size: 2rem;
  color: gray;
  padding: 15px;
}

#positionBox {
  position: relative;
  width: 50%;
}

.box {
  position: absolute;
  width: 50%;
  height: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

#box1 img {
  margin-top: 100px;
  margin-left: 150px;
  background-color: white;
  z-index: 0;
  width: 90%;
  height: 80%;
  object-fit: unset;
}

#box2 {
  left: 40%;
  top: 35%;
  z-index: 1;
  color: white;
}

#box2 img {
  width: 90%;
  height: 90%;
}

#scrollLink {
  color: white;
  margin-top: 30px;
  border: 2px solid white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.modal {
  position: absolute;
  display: none;

  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 50%;

  width: 400px;
  height: 600px;

  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateY(-50%);
}

#scrollLink {
  color: white;
  margin-top: 30px;
  border: 2px solid white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
}
