.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;

  .modal-container {
    width: 800px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
